<h1>Editing <%= @item.category %> </h1>
 
<style>
/* Removes number arrows from number_fields */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>

<%= bootstrap_form_with model: @item, url: item_path(@item), method: :patch, data: { turbo: false } do |f| %>

    <div class='row' style='margin-top: 25px'>
        <div class='col-2'>
            <br>
        </div>
        <div class='col-6'>
            <%= f.text_field :title %>
            <%= f.file_field :picture, label: 'Replace Image?' %>
            <%= image_tag @item.picture, style:"width:250px; height:250px; object-fit:scale-down" %>
            <%= f.text_field :brand %>
            <%= f.text_area :description %>
        </div>
        <div class='col-2'>
            <%= f.number_field :price, step: 0.01 %>
            <%= f.number_field :wattage %>
            <% if @item.category == 'GPU' %>
                <%= f.number_field :gpu_rank, label: "GPU Rank" %>
            <% end %>
            <%= f.check_box :for_sale, label: "Available for Purchase?" %>
        </div>

        <div class="col-2 position-absolute end-0 bottom-0">
            <ul style='list-style-type:none'>
                <li style='text-align:right; margin-right:50px; margin-bottom:5px'><%= f.submit(class: "btn btn-primary") %></li>
                <li style='text-align:right; margin-right:50px; margin-bottom:20px'><%= link_to "Back", item_path(@item), class: "btn btn-secondary" %></li>
            </div>
        </div>
    </div>
 
<% end %>