<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag "Logo/logo.png", class: "d-inline-block align-text-top", style: "width:24; height:24px; border:0px; background-color:#1A1A2E" %>
      PartSlingers
    </a>

    <div class='position-absolute end-50'> 
      <%= render partial: 'shared/searchbar' %>
    </div>

    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Hi, #{current_user.email}", edit_user_registration_path,
                      class: "nav-link #{active_class(edit_user_registration_path)} btn btn-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My Orders", orders_path, class: "nav-link #{active_class(orders_path)} btn btn-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My Cart", cart_path, class: "nav-link #{active_class(cart_path)} btn btn-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My Checklist", checklist_path, class: "nav-link #{active_class(checklist_path)} btn btn-link" %>
        </li>
        <li class="nav-item">
          <%= button_to 'Sign Out', destroy_user_session_path,
                      method: :delete, data: { turbo: false }, class: 'nav-link btn btn-link' %>
        </li>
      
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path,
                      class: "nav-link #{active_class(new_user_session_path)} btn btn-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path,
                      class: "nav-link #{active_class(new_user_registration_path)} btn btn-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
